.pane-title
  text-align: center
  font-family: 'Nunito', sans-serif
  font-weight: bold
  margin-bottom: 10px

.pane-text
  text-align: center
  font-family: 'Nunito', sans-serif
  font-weight: normal
  font-size: small
