{%- include facebook.html %}

<div class="container">
    <div class="row separator col-v-centered">
        <div class="col separator bg-yellow"></div>
        <div class="col separator bg-green"></div>
        <div class="col separator bg-blue"></div>
        <div class="col separator bg-purple"></div>
        <div class="col separator bg-orange"></div>
    </div>

    <div class="row col-v-centered">
        <div class="col">
            f: <a href="https://www.facebook.com/AttitudeLearningStudio/">AttitudeLearningStudio</a>
            <!-- <div class="fb-like" data-href="https://www.facebook.com/AttitudeLearningStudio/" data-width="" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div> -->
        </div>
        <div class="col">
            t: <a href="tel: +6562437688">6243 7688</a>
        </div>
        <div class="col">
            e: <a href="mailto: info@attitudelearningstudio.com">info@attitudelearningstudio.com</a>
        </div>
    </div>

    <div class="row col-v-centered">

    </div>
</div>
