<div class="container">
    <div class="row nav-header align-items-center">
        <div class="col">
            <img src="assets/images/logo-h.jpg">
        </div>
        <div class="col">
            <div class="row">
                <div class="col-sm nav-menu">
                    <a href="/">home</a>
                </div>
                <div class="col-sm nav-menu">
                    <a href="/about-us.html">our story</a>
                </div>
                <div class="col-sm nav-menu">
                    services
                </div>
                <div class="col-sm nav-menu">
                    <a href="https://forms.gle/aJm6M9MsjLHYaC8Y7" target="_blank">book a trial</a>
                </div>
                <div class="col-sm nav-menu">
                    <a href="/contact-us.html">contact us</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row separator">
        <div class="col separator bg-yellow"></div>
        <div class="col separator bg-green"></div>
        <div class="col separator bg-blue"></div>
        <div class="col separator bg-purple"></div>
        <div class="col separator bg-orange"></div>
    </div>
</div>
