<div class="container" id="top-stuff">
    <div class="row nav-header align-items-center">
        <div class="col">
            <img id="logo" src="assets/images/logo-h.jpg">
        </div>
        <div class="col" id="about-us">
            <div class="row">
              <span>“Enrichment beyond the classroom”</span>
            </div>
            <div class="row">
              <span>CALL US:  6243 7688</span>
            </div>
        </div>
    </div>
    <div class="row separator" id="navbar">
        <div class="col separator bg-yellow">
          <a href="/">home</a>
        </div>
        <div class="col separator bg-green">
          <a href="/about-us.html">our story</a>
        </div>
        <div class="col separator bg-blue">
          <a href="#">services</a>
        </div>
        <div class="col separator bg-purple">
          <a href="https://forms.gle/aJm6M9MsjLHYaC8Y7">trial booking</a>
        </div>
        <div class="col separator bg-orange">
          <a href="/contact-us.html">contact us</a>
        </div>
    </div>
</div>
