<div class="row">
  <div class="col col-v-centered border-yellow">
      <div class="row">
        <div class="col-md-12 pane-title">
          Student Care
        </div>
        <div class="col-md-12 pane-text">
          Our after-school student care incorporates the Project Approach
          to facilitate child-led exploration to help your child learn to learn,
          and take responsibility of their own learning journey.
        </div>
      </div>
  </div>

  <div class="col col-v-centered border-green">
      <div class="row">
        <div class="col-md-12 pane-title">
          Music
        </div>
        <div class="col-md-12 pane-text">
          We use Teacher Ping's Baby Music programme to introduce children between 18 months to 4 years old to the wonderful world of music and body movement.
          Older children can look forward to violin and piano lessons in our music studios.
        </div>
      </div>
  </div>

  <div class="col col-v-centered border-blue">
      <div class="row">
        <div class="col-md-12 pane-title">
          Dance
        </div>
        <div class="col-md-12 pane-text">
          From classical ballet to hip-hop street dance, our experienced teachers help children build confidence
          through physical fitness and elegant body movements.
        </div>
      </div>
  </div>

  <div class="col col-v-centered border-purple">
      <div class="row">
        <div class="col-md-12 pane-title">
          Art
        </div>
        <div class="col-md-12 pane-text">
          ...
        </div>
      </div>
  </div>

  <div class="col col-v-centered border-orange">
      <div class="row">
        <div class="col-md-12 pane-title">
          Enrichment
        </div>
        <div class="col-md-12 pane-text">
          ...
        </div>
      </div>
  </div>
</div>
