<div class="container">
  <div class="row align-items-center">

    <div class="col col-h-centered col-v-centered">
      <div id="student-care" class="service-pane border-yellow">
        <div class="row">
          <div class="col-md-12 pane-title">
            Student Care
          </div>
          <div class="col-md-12 pane-text">
            Our after-school student care incorporates the Project Approach
            to facilitate child-led exploration to help your child learn to learn,
            and take responsibility of their own learning journey.
          </div>
        </div>
      </div>
    </div>

    <div class="col col-h-centered col-v-centered">
      <div id="music" class="service-pane border-green">
        <div class="row">
          <div class="col pane-title">
            Music
          </div>
          <!--<div class="col pane-text">-->
          <!--...-->
          <!--</div>-->
        </div>
      </div>
    </div>

    <div class="col col-h-centered col-v-centered">
      <div id="dance" class="service-pane border-blue">
        <div class="row">
          <div class="col pane-title">
            Dance
          </div>
          <!--<div class="col pane-text">-->
          <!--...-->
          <!--</div>-->
        </div>
      </div>
    </div>

    <div class="col col-h-centered col-v-centered">
      <div id="Art" class="service-pane border-purple">
        <div class="row">
          <div class="col pane-title">
            Art
          </div>
          <!--<div class="col pane-text">-->
          <!--...-->
          <!--</div>-->
        </div>
      </div>
    </div>

    <div class="col col-h-centered col-v-centered">
      <div id="Enrichment" class="service-pane border-orange">
        <div class="row">
          <div class="col pane-title">
            Enrichment
          </div>
          <!--<div class="col pane-text">-->
          <!--...-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</div>
