<div class="container">
  <div class="row align-items-center">
    <div class="col col-h-centered col-v-centered">
      <div id="student-care" class="service-pane border-yellow">
        Student Care
      </div>
    </div>
    <div class="col col-h-centered col-v-centered">
      <div id="music" class="service-pane border-green">
        Music
      </div>
    </div>
    <div class="col col-h-centered col-v-centered">
      <div id="dance" class="service-pane border-blue">
        Dance
      </div>
    </div>
    <div class="col col-h-centered col-v-centered">
      <div id="Art" class="service-pane border-purple">
        Art
      </div>
    </div>
    <div class="col col-h-centered col-v-centered">
      <div id="Enrichment" class="service-pane border-orange">
        Enrichment
      </div>
    </div>
  </div>
</div>
