---
---

.nav-menu
  text-align: center
  font-family: Arial
  font-weight: bold

.separator
  height: 20px

$yellow: #fad129
$green: #009a54
$blue: #00abed
$purple: #812991
$orange: #f8931f

.bg-yellow
  background-color: $yellow

.bg-green
  background-color: $green

.bg-blue
  background-color: $blue

.bg-purple
  background-color: $purple

.bg-orange
  background-color: $orange

.border-yellow
  border: solid 5px $yellow

.border-green
  border: solid 5px $green

.border-blue
  border: solid 5px $blue

.border-purple
  border: solid 5px $purple

.border-orange
  border: solid 5px $orange

@mixin col-centered
  float: none
  margin: 0 auto

.col-h-centered
  @include col-centered
  text-align: center

.col-v-centered
  @include col-centered
  vertical-align: bottom
  margin-top: 70px

.google-maps
  position: relative
  padding-bottom: 75%
  height: 0
  overflow: hidden

.google-maps iframe
  position: absolute
  top: 0
  left: 0
  width: 100% !important
  height: 100% !important
