---
---

.nav-menu
  text-align: center
  font-family: Arial
  font-weight: bold

.separator
  height: 20px

.separator-yellow
  background-color: #fad129

.separator-green
  background-color: #009a54

.separator-blue
  background-color: #00abed

.separator-purple
  background-color: #812991

.separator-orange
  background-color: #f8931f

@mixin col-centered
  float: none
  margin: 0 auto

.col-h-centered
  @include col-centered
  text-align: center

.col-v-centered
  @include col-centered
  vertical-align: bottom
  margin-top: 70px

