<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include nav.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">

        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-11 col-h-centered col-v-centered normal-text">
              We are located at unit #02-01 in Elias Mall, Pasir Ris.
            </div>
          </div>
          <div class="row">
            <div class="col-lg-11 col-h-centered normal-text">
              For enquiries, please call <a href="tel: +6588187615">8818 7615</a>,
              email <a href="mailto: info@attitudelearningstudio.com">info@attitudelearningstudio.com</a>, or
              visit us on <a href="https://www.facebook.com/AttitudeLearningStudio/" target="_blank">facebook</a>.
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col col-h-centered col-v-centered normal-text">
              <div class="google-maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.664653992929!2d103.94003641475415!3d1.3778807989950785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da3dbea22df891%3A0xbd7b3d77071b0dff!2s623+Elias+Rd%2C+Singapore+510623!5e0!3m2!1sen!2sjp!4v1557571936592!5m2!1sen!2sjp"
                        frameborder="0" allowfullscreen>
                </iframe>
              </div>
            </div>
          </div>
        </div>

      </div>
    </main>

    {%- include foot.html %}

  </body>

</html>
