<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include nav.html %}

    <main class="page-content" aria-label="Content">
      {% include carousel.html
      carousel_id="home"
      img1="/assets/images/homepage/slide1.jpg" alt1="Music Class"
      img2="/assets/images/homepage/slide2.jpg" alt2="After School Student Care"
      img3="/assets/images/homepage/slide3.jpg" alt3="Music Class"
      %}
      {% include services.html %}
    </main>

    {%- include foot.html %}

  </body>

</html>
