<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <div class="container">
      <div class="row nav-header align-items-center">
        <div class="col">
          <img src="assets/images/logo-h.jpg">
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col nav-menu">
              home
            </div>
            <div class="col nav-menu">
              our story
            </div>
            <div class="col nav-menu">
              our services
            </div>
            <div class="col nav-menu">
              book a trial
            </div>
            <div class="col nav-menu">
              contact us
            </div>
          </div>
        </div>
      </div>
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div id="coming_soon">
          <center><h1>Attitude Learning Studio... coming soon</h1></center>
        </div>
        <div id="attitude">
          <img src="assets/images/attitude.jpg">
        </div>
      </div>
    </main>


  </body>

</html>
