<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <div class="container">
      <div class="row nav-header align-items-center">
        <div class="col">
          <img src="assets/images/logo-h.jpg">
        </div>
        <div class="col">
          <div class="row">
            <div class="col-sm nav-menu">
              home
            </div>
            <div class="col-sm nav-menu">
              our story
            </div>
            <div class="col-sm nav-menu">
              services
            </div>
            <div class="col-sm nav-menu">
              book a trial
            </div>
            <div class="col-sm nav-menu">
              contact us
            </div>
          </div>
        </div>
      </div>
      <div class="row separator">
          <div class="col separator-yellow"></div>
          <div class="col separator-green"></div>
          <div class="col separator-blue"></div>
          <div class="col separator-purple"></div>
          <div class="col separator-orange"></div>
      </div>
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div id="coming_soon">
          {% include carousel.html %}
        </div>
      </div>
    </main>


  </body>

</html>
